<div class="container">
  <center>
<h1> Reach </h2>
<label>Label: </label> <%= @reach.label %> <br>
<label>Contact name:</label>  <%= @reach.contact_name %><br>
<label>Contact phone:</label>  <%= @reach.contact_phone %><br>
<label>Text:</label> <%= @reach.text %><br>
<label>Label:</label>  <%= @reach.label %><br>
<label>Primary reach?</label>
<% if @reach.main_reach == true %>
Yes
<% else %>
No
<% end %>
<br>
<br>
<a href="/reaches/<%= @reach.id %>/edit" class="btn btn-warning"> Edit Reach </a> <br> <br>
<a href="/reaches/all" class="btn btn-info">All Reaches</a>
</center>
</div>
